<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Iván Manzano. It uses data from weatherstack.com!</p>
        <p>Type any location you want into the search box and it will give you current wather info!</p>
    </div>
    
    {{>footer}}
</body>

</html>