<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Type any location you want into the search box and it will give you current wather info!</p>
        <p>If theres no info to be displayed it may be because the location is not available in weatherstack.</p>
    </div>
    
    {{>footer}}
</body>

</html>